@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* NAV */

header {
    background: rgb(51,20,110);
    background: linear-gradient(180deg, rgba(51,20,110,1) 0%, rgba(49,55,158,1) 98%);
}


#navigation {
    margin-top: 15px;
    margin-bottom: 0px;
}

#navigation li {
    position: absolute;
    display: inline-block;
    font-weight: 700;
    justify-content: space-between;
    padding-left: 55px;
    margin-bottom: 0px;
}

#navigation li a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: right;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;

}

#btn {
    margin-right: 50px;
    background-color: rgb(255, 255, 255);
}

#btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#btn2 {
    margin-right: 50px;
    justify-content: space-between;
    font-weight: bold;
    background-color: white;
    color: black;
}


#search {
    justify-content: space-between;
}


/* NAV */

/* BODY */

#title {
    text-align: center;
    font-family: "Poppins", sans-serif;
}


#user h1 {
    margin-top: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#repos li {
    background: rgb(51,20,110);
    background: linear-gradient(180deg, rgba(51,20,110,1) 0%, rgba(49,55,158,1) 98%);
    border-radius: 20px;
    margin: 20px 0;
}

#repos li p {
    color: white;
    font-weight: bold;
}

#repos li {
    margin-top: 20px;
    margin-bottom: 30px;
}

#repos h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

#followers h1 {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

#followers li {
    background: rgb(51,20,110);
    background: linear-gradient(180deg, rgba(51,20,110,1) 0%, rgba(49,55,158,1) 98%);
    border-radius: 20px;
    margin: 20px 0;
}

#followers li p {
    color: white;
    font-weight: bold;
}

#followers li img {
    border-radius: 10px;
}

#pesquisa img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    justify-content: center;
    margin: auto;
}

#pesquisa p:first-of-type {
    text-align: center;
    font-size: 30px;
}

#pesquisa p {
    text-align: center;
}



/* BODY */

/* FOOTER */

.footer {
    background: rgb(51,20,110);
    background: linear-gradient(180deg, rgba(51,20,110,1) 0%, rgba(49,55,158,1) 98%);
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footer p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}

/* FOOTER */

/* MEDIA QUERIES */

@media (max-width: 600px) {

    #btn {
        display: block;
        justify-content: center;
        text-align: center;
        top: 50%;
        margin-right: 25%;
        padding: 10px;
    }

    #btn2 {
        display: block;
        justify-content: center;
        text-align: center;
        top: 50%;
        float: left;
        padding: 10px;
    }

    #navigation li {
        position: relative !important;
        display: inline-block;
        font-weight: 700;
        justify-content: space-between;
        padding-left: 0px;
        margin-bottom: 15px;
    }

    

    #user h1 {
        margin-top: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    #repos h1 {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    #followers h1 {
        margin-bottom: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    #followers p:first-of-type {
        font-size: 30px;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    #followers p {
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }

    #pesquisa img {
        display: block;
        justify-content: center;
        margin: auto;
    }

    #pesquisa p:first-of-type {
        text-align: center;
        font-size: 30px;
    }

    #pesquisa p {
        text-align: center;
    }

}

@media (min-width: 700px) {


    #user h1 {
        margin-top: 40px;
        text-align: center;
    }

    #user img {
        display: block;
        max-width: 200px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    #followers img {
        display: block;
        max-width: 200px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    #followers p:first-of-type {
        display: block;
        justify-content: center;
        text-align: center;
        max-width: 200px;
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }


}

/* MEDIA QUERIES */